<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="users">
      <a href="/">Home</a>
      <a href="/users/new">ADD USER</a>

      <h3>User list</h3>
      <% users.forEach(user => { %>
      <section>
        <ul>
          <li><%= user.name %></li>
          <li><%= user.email %></li>
          <li><%= user.age %></li>
          <li><%= user.address %></li>
          <li><%= user.bio %></li>
          <li><%= user.hobbies %></li>
        </ul>

        <a href="/users/<%= user._id%>"><button>Show</button></a>
      </section>
      <% }) %>
    </div>
  </body>
</html>
