<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="flex">
      <a href="/">USER INFO</a>

      <a href="/users/new">Add USER</a>
    </div>

    <div class="list">
      <h4>LIST OF USERS</h4>
      <%= users.forEach(user => { %>
      <section>
        <h3><%= user.name %></h3>
        <p><%= user.username %></p>
        <p><%= user.email %></p>
        <p><%= user.age %></p>
      </section>
      <% }) %>
    </div>
  </body>
</html>
